body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    color: #eee;
    font-family: sans-serif;    
    background-image: radial-gradient(circle,#b94bf8, #3a1957);
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: 40px 30% 30vw;
    grid-template-columns: 50px 2fr 1fr; /* despues de dar la medida fija el resto lo divide en fracción*/
    grid-template-columns: 100px 100px auto 100px; /*auto es el tamaño mínimo que alcanza el elemento incluyendo padding*/
    grid-template-columns: repeat(4, 100px); /*repeat crea las columnas n veces con la medida otorgada*/
    grid-template-columns: 100px repeat(3, 50px) 100px; 
    grid-template-columns: repeat(2, 50px 100px) ; /*poniendo mas medidas dentro del repeat creo patrones*/
}

.grid-item {    
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}